{% extends 'Index.html' %}
{%block title%} Available Book {%endblock title%}
{% load static %} 

{%block head%}

<!--            External main.Css              -->
<link rel="stylesheet" href="{% static 'templates/Css/main.css' %}">

{%endblock head%}
{%block body%} 
<div>
<div class = "px-3">
<table  class="table table-striped table-dark">
  <thead>
    <tr align = "center">
    <th scope="col">#</th>
      <th scope="col">Book Id </th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>\
      <th scope="col">Genre</th>
      <th scope="col">Book Status</th>
      <th scope = "col"  > Options </th>
    </tr>
      </thead>
      <tbody>
     {% for item in books %}
    <tr align = "center"> 
          <td class="counterCell"></td>
         <td>{{ item.book_id }}</td>
         <td>{{ item.title  }}</td>
         <td>{{ item.author }}</td>
         <td>{{ item.genre }}</td>
         <td>{{ item.status }}</td>
         <td align = "center"><a href = "/issuebook/{{item.id}}/"><input type = 'button' value = 'Issue Book' class="btn btn-success" style = "width: 100px; padding-right : 10px; margin-right :5px" id = "issue_btn">
    </tr>
       {% endfor %}
</tbody>
  </table>
    </div>
</div>
<div align = "center">

<a href = "/"><button type="button" class="btn btn-secondary">Return Home</button>
</div>
{%endblock body%}
