{% extends 'Index.html' %}
{%block title%} ADD BOOK {%endblock title%}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/jquery.plugin.js"></script>
{% load static %} 

{%block head%}

<!--            External main.Css              -->
<link rel="stylesheet" href="{% static 'templates/Css/main.css' %}">

{%endblock head%}
{%block body%}

<h1 class="text-white"></h1>
<form >{% csrf_token %}
<div class = "text-white" align= "center">
<div class ="div_style">
  <h5><input type ="hidden" name = "id" id = "id" class ="textbox_style"  value = "{{books.id}}" value="{{books.id}}">  
</div>

<div class ="div_style">
  <h5><span class="label_style">Book ID :</span> <input type ="text" name = "book_id" id = "book_id" class ="textbox_style"  value = "{{books.book_id}}">  
</div>
<div class ="div_style">
  <h5><span class="label_style">Book Title :</span> <input type ="text" name = "book_title" id = "book_title" class ="textbox_style" value = "{{books.title}}"> 
</div>
<div class ="div_style">
  <h5><span class="label_style">Author Name :</span> <input type ="text" name = "author_name" id = "author_name" class ="textbox_style" value = "{{books.author}} "> 
</div></h5>
<div class ="div_style">
  <span class="label_style"><h5>Category/Genre :</h5></span>  <select class = "textbox_style" id = "genre" name = "genre">
      <option>Computers & Technology</option>
      <option>Comic Books & Graphic Novels</option>
      <option>Education & Reference</option>
      <option>Cookbooks</option>
      <option>History</option>
      <option>Literature & Fiction</option>
      <option>others</option>
    </select>
</div>
<div class ="div_style">
  <span class="label_style"><h5>Book Status :</h5></span>  <select class = "textbox_style" id = "status" name = "status">
      <option>Issued</option>
      <option>Available</option>
    </select>
</div>
</div>
<div class ="div_style" align = "center">
<input type = 'button' value = 'Update' class="btn btn-primary" style = "width: 200px; padding-right : 10px;" id = "update_btn">
<a href = "/" ><input type = 'button' value = 'Home'  class="btn btn-primary" style = "width: 200px;">
</div>
</from>
<!--                      ajax and js code             -->
<script type="text/javascript">
  

$('#update_btn').click(function(){

var book_id = $("#book_id").val()

var title = $("#book_title").val()

var author = $("#author_name").val()

var genre = $("#genre").val()

var status = $("#status").val()

//ajax PUT Code 
var data  = { "book_id" :  book_id ,"title" : title,"author" : author,"genre" : genre,"status" : status ,};
var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

$.ajax({
    type: "PUT",
    url: "/books/{{books.id}}/",
    data : data,
    headers:{"X-CSRFToken": $crf_token},
    success: function(response){
      alert("Book Updated successfully");
      window.location = "/viewbook/";
    },
    error: function(){
      alert("error while PUT");
    }
});

});
</script>

 {%endblock body%}
